* {
  box-sizing: border-box;
  text-align:center;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #FFF;
  background-color: #000000;
}

h1 {
  font-weight: bold;
  
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #274323;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  background-color: #222;
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  border:none
}

input[type=submit]:hover {
  background-color: #555;
  color: #FFF;
  border:none
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #003b18;
  padding: 2px;
}

.flex-row{
  display:flex;
  flex-direction:row;
  gap:12px;
  flex-wrap:wrap;
  justify-content:center;
  align-items:end;
}
